.footer-container {
    background-color: #E6F6EB;
    color: #202020;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    width: 20%;
    margin-top: 50px;
    bottom: 0;
}

.footer-text {
    margin: 0;
}
