@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Archivo+Black&family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.section-title-text {
    font-family: "Archivo Black", sans-serif;
    font-size: 38px;
    color: #202020;
    margin-bottom: 0;
    margin-left: -1px;
    margin-left: 16.5%;
    font-weight: bold;
    letter-spacing: -0.020em;
    margin-top: 12vh;
}

.sectionMessage {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    color: #202020;
    margin-top: 10px;
    margin-left: 16.6%;
}

.projects-container {
    display: flex;
}

@media (max-width: 1600px) { /* Medium-large desktops */

    .section-title-text {
        margin-left: 13%;
        font-size: 38px;

    }

    .sectionMessage {
        margin-left: 13.3%;
    }
}

/* Media queries for responsive design */
@media (max-width: 1200px) { /* Small desktops */

    .section-title-text {
        margin-left: 11.5%;
        font-size: 35px;

    }

    .sectionMessage {
        margin-left: 11.8%;
    }

}

@media (max-width: 768px) { /* Tablets */

}

@media (max-width: 480px) { /* Phones */


}
